<!doctype html>
<html>
<head>
<link href="{{ url_for('static', filename='c3.css') }}" rel="stylesheet" type="text/css">
<script 
    src="{{ url_for('static', filename='c3.js') }}">
</script>
<script 
    src="{{ url_for('static', filename='d3.js') }}">
</script>

  <title>Tally</title>

</head>

<body>
  

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

  {% block content %} put your content here {% endblock %}

</body>
</html>

<!-- ///{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

  <hr> -->