{% extends 'base.html' %}
{% block content %}

    <h1>New Campaign</h1>

    <form action="/campaigns/new" method='POST'>

        <p><strong>Campaign Information:</strong></p>
        <p>Campaign Title: <input type="text" name="campaign_description"></input></p>
        <p>Campaign Start Date: <input type="date" name="campaign_start_date"></input></p>
        <p>Campaign End Date: <input type="date" name="campaign_end_date"></input></p>
        <p>Total Funds Raised: <input type="text" name="total_funds_raised"></input></p>
        <p><input type= "submit" value="submit"></p>
    </form>

    <p><a href="/home">Home</a></p>


{% endblock %}