{% extends 'base.html' %}
{% block content %}

    <h1>New Campaign</h1>

    <form action="/campaigns/new" method='POST'>

        <p>Campaign Information:</p>
        <p>Campaign Title: <input type="text" name="campaign_description"></input></p>
        <p>Campaign Start Date: <input type="date" name="campaign_start_date"></input></p>
        <p>Campaign End Date: <input type="date" name="campaign_end_date"></input></p>
        <p>Which Outreach Channels Were Used? (phone, mail, email):</p>
        <p>Email: <input type="checkbox" name="outreach_channel" value="email"></input></p>
        <p>Phone: <input type="checkbox" name="outreach_channel" value="phone"></input></p>
        <p>Mail (postal): <input type="checkbox" name="outreach_channel" value="mail"></input></p>
        <p>Total Funds Raised: <input type="text" name="total_funds_raised"></input></p>
        <p><input type= "submit" value="submit"></p>
    </form>

    <p><a href="/home">Home</a></p>


{% endblock %}