{% extends 'base.html' %}
{% block content %}

    <h1>New Donor</h1>

    <form action="new" method='POST'>

        <p>Basic Information</p>
        <p size='30px'>first name: <input type="text" name="first_name"></input></p>
        <p>last name: <input type="text"  name="last_name"></input></p>
        <p size = '25px'>middle name: <input size='17px' type="text"  name="middle_name"></input></p>
        <p>employer: <input type="text"  name="employer" size='21px'></input></p>
        <p>position: <input type="text" size='22px'  name="position"></input></p>
        <p>email: <input type="text" size='25px'  name="email"></input></p>
        <p>phone: <input type="text" size='24px'  name="phone"></input></p>
        <p>street address: <input type="text" size='17px'  name="address"></input></p>
        <p>city: <input type="text"  size='27px'></input></p>
        <p>state: <input type="text"  name="state" size='26px'></input></p>
        <p>zip code: <input type="text"  name="zip_code" size='23px'></input></p>
        
        <br>
        <p><input type= "submit" value="submit"></p>
    </form>

    


{% endblock %}