{% extends 'base.html' %}
{% block content %}


    {% for donor in donors %}
    <h2>Donor Information for {{ donor.first_name }} {{ donor.last_name }}</h2>


    <form action="new" method='POST'>

        <p>Basic Information</p>
        <p>first name: <input type="text" value="{{ donor.first_name }}" name="first_name"></input></p>
        <p>last name: <input type="text" value="{{ donor.last_name }}" name="last_name"></input></p>
        <p>middle name: <input type="text" value="{{ donor.middle_name }}" name="middle_name"></input></p>
        <p>employer: <input type="text" value="{{ donor.employer }}" name="employer"></input></p>
        <p>position: <input type="text" value="{{ donor.position }}" name="position"></input></p>
        <p>email: <input type="text" value="{{ donor.email }}" name="email"></input></p>
        <p>phone: <input type="text" value="{{ donor.main_phone }}" name="phone"></input></p>
        <p>street address: <input type="text" value="{{ donor.street_address }}" name="address"></input></p>
        <p>city: <input type="text" value="{{ donor.city }}" name="city"></input></p>
        <p>state: <input type="text" value="{{ donor.state }}" name="state"></input></p>
        <p>zip code: <input type="text" value="{{ donor.zip_code }}" name="zip_code"></input></p>
        <br>
        <p><input type= "submit" value="submit"></p>
    </form>

    <p><a href="/home">Home</a></p>
    {% endfor %}

{% endblock %}