{% extends 'base.html' %}
{% block content %}

<h1>Tally</h1>


<h2>Contribution List</h2>

    <table style="width:100%">
      {% for contribution in contributions %}
      <tr>
        <td>{{ contribution.donorc.first_name }}</td>
        <td>{{ contribution.donorc.last_name }}</td>
        <td>{{ date }}</td>
        <td>{{ contribution.campaign_description }}</td>
        <td>${{ contribution.contribution_amount }}</td>
        <td><a href="/contributions/edit/{{ contribution.contribution_id }}"> View Contribution</a></td>
      </tr>
      {% endfor %}
    </table>


{% endblock %}

  