{% extends 'base.html' %}
{% block content %}

<h1>Tally</h1>


<h2>Contribution List</h2>

    <ul>
      {% for contribution in contributions %}
  
          <li>
      		<ul>
                {{ contribution.donor_id }} 	|	{{ contribution.contribution_amount }}	|	{{ contribution.date_of_contribution }}		|		{{ contribution.campaign_description }} <a href="/contributions/edit/{{ contribution.contribution_id }}"> View Contribution</a>
            </ul>
          </li>
      {% endfor %}
    </ul>


<p><a href="/home">Home</a></p>



{% endblock %}

  