{% extends 'base.html' %}
{% block content %}

<h1>Tally</h1>

<h2>Reports</h2>

<p><a href="/reports/topcontributions">Top 100 Contributions</a></p>

<p><a href="/reports/campaign2014">2014 Campaign Report</a></p>

<p><a href="/reports/campaign2013">2013 Campaign Report</a></p>

<p><a href="/reports/frequent_donors">Frequent Donors Report</a></p>



<!-- <p><a href="/contributions">View/ Create Contributions</a></p>
<p><a href="/campaigns">Campaign Manager</a></p>
<p><a href="/reports">Reports</a></p> -->




{% endblock %}