{% extends 'base.html' %}
{% block content %}

    <h2>Top Contributions (over $800)</h2>


    <table>
      {% for contribution in contributions %}
         <tr> 
        <td>${{contribution.contribution_amount }}</td>
        <td> {{contribution.donorc.first_name}}</td>
        <td> {{contribution.donorc.last_name}}</td>
        <td>{{ contribution.campaign_description}}</td>
        <td>{{contribution.date_of_contribution  }}</td>
        <td>  <a href="/contributions/edit/{{ contribution.contribution_id }}"> View Contribution</a></td>
        </tr>
        {% endfor %}
    </table>

               

              
        
     

{% endblock %}